<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @distribution.country %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
